{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://sourcerepo.googleapis.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Accesses source code repositories hosted by Google.",
        "title": "Cloud Source Repositories",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-apisguru-categories": [
            "developer_tools"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://sourcerepo.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "sourcerepo"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/source-repositories/docs/apis"
    },
    "tags": [
        {
            "name": "projects"
        }
    ],
    "paths": {
        "/v1/{name}": {
            "delete": {
                "description": "Deletes a repo.",
                "operationId": "sourcerepo.projects.repos.delete",
                "parameters": [
                    {
                        "description": "The name of the repo to delete. Values are of the form\n`projects/<project>/repos/<repo>`.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.full_control"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "get": {
                "description": "Returns information about a repo.",
                "operationId": "sourcerepo.projects.repos.get",
                "parameters": [
                    {
                        "description": "The name of the requested repository. Values are of the form\n`projects/<project>/repos/<repo>`.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A repository (or repo) is a Git repository storing versioned source content.",
                                    "properties": {
                                        "mirrorConfig": {
                                            "description": "How this repository mirrors a repository managed by another service.\nRead-only field.",
                                            "properties": {
                                                "deployKeyId": {
                                                    "description": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "description": "URL of the main repository at the other hosting service.",
                                                    "type": "string"
                                                },
                                                "webhookId": {
                                                    "description": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webhook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "Resource name of the repository, of the form\n`projects/<project>/repos/<repo>`.  The repo name may contain slashes.\neg, `projects/myproject/repos/name/with/slash`",
                                            "type": "string"
                                        },
                                        "pubsubConfigs": {
                                            "additionalProperties": {
                                                "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                "properties": {
                                                    "messageFormat": {
                                                        "description": "The format of the Cloud Pub/Sub messages.",
                                                        "enum": [
                                                            "MESSAGE_FORMAT_UNSPECIFIED",
                                                            "PROTOBUF",
                                                            "JSON"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "serviceAccountEmail": {
                                                        "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                        "type": "string"
                                                    },
                                                    "topic": {
                                                        "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "description": "How this repository publishes a change in the repository through Cloud\nPub/Sub. Keyed by the topic names.",
                                            "type": "object"
                                        },
                                        "size": {
                                            "description": "The disk usage of the repo, in bytes. Read-only field. Size is only\nreturned by GetRepo.",
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "url": {
                                            "description": "URL to clone the repository from Google Cloud Source Repositories.\nRead-only field.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.full_control"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.read_only"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.read_write"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates information about a repo.",
                "operationId": "sourcerepo.projects.repos.patch",
                "parameters": [
                    {
                        "description": "The name of the requested repository. Values are of the form\n`projects/<project>/repos/<repo>`.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A repository (or repo) is a Git repository storing versioned source content.",
                                    "properties": {
                                        "mirrorConfig": {
                                            "description": "How this repository mirrors a repository managed by another service.\nRead-only field.",
                                            "properties": {
                                                "deployKeyId": {
                                                    "description": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "description": "URL of the main repository at the other hosting service.",
                                                    "type": "string"
                                                },
                                                "webhookId": {
                                                    "description": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webhook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "Resource name of the repository, of the form\n`projects/<project>/repos/<repo>`.  The repo name may contain slashes.\neg, `projects/myproject/repos/name/with/slash`",
                                            "type": "string"
                                        },
                                        "pubsubConfigs": {
                                            "additionalProperties": {
                                                "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                "properties": {
                                                    "messageFormat": {
                                                        "description": "The format of the Cloud Pub/Sub messages.",
                                                        "enum": [
                                                            "MESSAGE_FORMAT_UNSPECIFIED",
                                                            "PROTOBUF",
                                                            "JSON"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "serviceAccountEmail": {
                                                        "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                        "type": "string"
                                                    },
                                                    "topic": {
                                                        "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "description": "How this repository publishes a change in the repository through Cloud\nPub/Sub. Keyed by the topic names.",
                                            "type": "object"
                                        },
                                        "size": {
                                            "description": "The disk usage of the repo, in bytes. Read-only field. Size is only\nreturned by GetRepo.",
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "url": {
                                            "description": "URL to clone the repository from Google Cloud Source Repositories.\nRead-only field.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request for UpdateRepo.",
                                "properties": {
                                    "repo": {
                                        "description": "The new configuration for the repository.",
                                        "properties": {
                                            "mirrorConfig": {
                                                "description": "How this repository mirrors a repository managed by another service.\nRead-only field.",
                                                "properties": {
                                                    "deployKeyId": {
                                                        "description": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "description": "URL of the main repository at the other hosting service.",
                                                        "type": "string"
                                                    },
                                                    "webhookId": {
                                                        "description": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webhook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "name": {
                                                "description": "Resource name of the repository, of the form\n`projects/<project>/repos/<repo>`.  The repo name may contain slashes.\neg, `projects/myproject/repos/name/with/slash`",
                                                "type": "string"
                                            },
                                            "pubsubConfigs": {
                                                "additionalProperties": {
                                                    "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                    "properties": {
                                                        "messageFormat": {
                                                            "description": "The format of the Cloud Pub/Sub messages.",
                                                            "enum": [
                                                                "MESSAGE_FORMAT_UNSPECIFIED",
                                                                "PROTOBUF",
                                                                "JSON"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "serviceAccountEmail": {
                                                            "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                            "type": "string"
                                                        },
                                                        "topic": {
                                                            "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "description": "How this repository publishes a change in the repository through Cloud\nPub/Sub. Keyed by the topic names.",
                                                "type": "object"
                                            },
                                            "size": {
                                                "description": "The disk usage of the repo, in bytes. Read-only field. Size is only\nreturned by GetRepo.",
                                                "format": "int64",
                                                "type": "string"
                                            },
                                            "url": {
                                                "description": "URL to clone the repository from Google Cloud Source Repositories.\nRead-only field.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "updateMask": {
                                        "description": "A FieldMask specifying which fields of the repo to modify. Only the fields\nin the mask will be modified. If no mask is provided, this request is\nno-op.",
                                        "format": "google-fieldmask",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{name}/config": {
            "get": {
                "description": "Returns the Cloud Source Repositories configuration of the project.",
                "operationId": "sourcerepo.projects.getConfig",
                "parameters": [
                    {
                        "description": "The name of the requested project. Values are of the form\n`projects/<project>`.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Cloud Source Repositories configuration of a project.",
                                    "properties": {
                                        "enablePrivateKeyCheck": {
                                            "description": "Reject a Git push that contains a private key.",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "description": "The name of the project. Values are of the form `projects/<project>`.",
                                            "type": "string"
                                        },
                                        "pubsubConfigs": {
                                            "additionalProperties": {
                                                "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                "properties": {
                                                    "messageFormat": {
                                                        "description": "The format of the Cloud Pub/Sub messages.",
                                                        "enum": [
                                                            "MESSAGE_FORMAT_UNSPECIFIED",
                                                            "PROTOBUF",
                                                            "JSON"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "serviceAccountEmail": {
                                                        "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                        "type": "string"
                                                    },
                                                    "topic": {
                                                        "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "description": "How this project publishes a change in the repositories through Cloud\nPub/Sub. Keyed by the topic names.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates the Cloud Source Repositories configuration of the project.",
                "operationId": "sourcerepo.projects.updateConfig",
                "parameters": [
                    {
                        "description": "The name of the requested project. Values are of the form\n`projects/<project>`.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Cloud Source Repositories configuration of a project.",
                                    "properties": {
                                        "enablePrivateKeyCheck": {
                                            "description": "Reject a Git push that contains a private key.",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "description": "The name of the project. Values are of the form `projects/<project>`.",
                                            "type": "string"
                                        },
                                        "pubsubConfigs": {
                                            "additionalProperties": {
                                                "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                "properties": {
                                                    "messageFormat": {
                                                        "description": "The format of the Cloud Pub/Sub messages.",
                                                        "enum": [
                                                            "MESSAGE_FORMAT_UNSPECIFIED",
                                                            "PROTOBUF",
                                                            "JSON"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "serviceAccountEmail": {
                                                        "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                        "type": "string"
                                                    },
                                                    "topic": {
                                                        "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "description": "How this project publishes a change in the repositories through Cloud\nPub/Sub. Keyed by the topic names.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request for UpdateProjectConfig.",
                                "properties": {
                                    "projectConfig": {
                                        "description": "The new configuration for the project.",
                                        "properties": {
                                            "enablePrivateKeyCheck": {
                                                "description": "Reject a Git push that contains a private key.",
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "description": "The name of the project. Values are of the form `projects/<project>`.",
                                                "type": "string"
                                            },
                                            "pubsubConfigs": {
                                                "additionalProperties": {
                                                    "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                    "properties": {
                                                        "messageFormat": {
                                                            "description": "The format of the Cloud Pub/Sub messages.",
                                                            "enum": [
                                                                "MESSAGE_FORMAT_UNSPECIFIED",
                                                                "PROTOBUF",
                                                                "JSON"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "serviceAccountEmail": {
                                                            "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                            "type": "string"
                                                        },
                                                        "topic": {
                                                            "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "description": "How this project publishes a change in the repositories through Cloud\nPub/Sub. Keyed by the topic names.",
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "updateMask": {
                                        "description": "A FieldMask specifying which fields of the project_config to modify. Only\nthe fields in the mask will be modified. If no mask is provided, this\nrequest is no-op.",
                                        "format": "google-fieldmask",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{name}/repos": {
            "get": {
                "description": "Returns all repos belonging to a project. The sizes of the repos are\nnot set by ListRepos.  To get the size of a repo, use GetRepo.",
                "operationId": "sourcerepo.projects.repos.list",
                "parameters": [
                    {
                        "description": "The project ID whose repos should be listed. Values are of the form\n`projects/<project>`.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of repositories to return; between 1 and 500.\nIf not set or zero, defaults to 100 at the server.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Resume listing repositories where a prior ListReposResponse\nleft off. This is an opaque token that must be obtained from\na recent, prior ListReposResponse's next_page_token field.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Response for ListRepos.  The size is not set in the returned repositories.",
                                    "properties": {
                                        "nextPageToken": {
                                            "description": "If non-empty, additional repositories exist within the project. These\ncan be retrieved by including this value in the next ListReposRequest's\npage_token field.",
                                            "type": "string"
                                        },
                                        "repos": {
                                            "description": "The listed repos.",
                                            "items": {
                                                "description": "A repository (or repo) is a Git repository storing versioned source content.",
                                                "properties": {
                                                    "mirrorConfig": {
                                                        "description": "How this repository mirrors a repository managed by another service.\nRead-only field.",
                                                        "properties": {
                                                            "deployKeyId": {
                                                                "description": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "description": "URL of the main repository at the other hosting service.",
                                                                "type": "string"
                                                            },
                                                            "webhookId": {
                                                                "description": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webhook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Resource name of the repository, of the form\n`projects/<project>/repos/<repo>`.  The repo name may contain slashes.\neg, `projects/myproject/repos/name/with/slash`",
                                                        "type": "string"
                                                    },
                                                    "pubsubConfigs": {
                                                        "additionalProperties": {
                                                            "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                            "properties": {
                                                                "messageFormat": {
                                                                    "description": "The format of the Cloud Pub/Sub messages.",
                                                                    "enum": [
                                                                        "MESSAGE_FORMAT_UNSPECIFIED",
                                                                        "PROTOBUF",
                                                                        "JSON"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "serviceAccountEmail": {
                                                                    "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                                    "type": "string"
                                                                },
                                                                "topic": {
                                                                    "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "description": "How this repository publishes a change in the repository through Cloud\nPub/Sub. Keyed by the topic names.",
                                                        "type": "object"
                                                    },
                                                    "size": {
                                                        "description": "The disk usage of the repo, in bytes. Read-only field. Size is only\nreturned by GetRepo.",
                                                        "format": "int64",
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "description": "URL to clone the repository from Google Cloud Source Repositories.\nRead-only field.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.full_control"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.read_only"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.read_write"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{parent}/repos": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a repo in the given project with the given name.\n\nIf the named repository already exists, `CreateRepo` returns\n`ALREADY_EXISTS`.",
                "operationId": "sourcerepo.projects.repos.create",
                "parameters": [
                    {
                        "description": "The project in which to create the repo. Values are of the form\n`projects/<project>`.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A repository (or repo) is a Git repository storing versioned source content.",
                                    "properties": {
                                        "mirrorConfig": {
                                            "description": "How this repository mirrors a repository managed by another service.\nRead-only field.",
                                            "properties": {
                                                "deployKeyId": {
                                                    "description": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "description": "URL of the main repository at the other hosting service.",
                                                    "type": "string"
                                                },
                                                "webhookId": {
                                                    "description": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webhook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "Resource name of the repository, of the form\n`projects/<project>/repos/<repo>`.  The repo name may contain slashes.\neg, `projects/myproject/repos/name/with/slash`",
                                            "type": "string"
                                        },
                                        "pubsubConfigs": {
                                            "additionalProperties": {
                                                "description": "Configuration to publish a Cloud Pub/Sub message.",
                                                "properties": {
                                                    "messageFormat": {
                                                        "description": "The format of the Cloud Pub/Sub messages.",
                                                        "enum": [
                                                            "MESSAGE_FORMAT_UNSPECIFIED",
                                                            "PROTOBUF",
                                                            "JSON"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "serviceAccountEmail": {
                                                        "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                        "type": "string"
                                                    },
                                                    "topic": {
                                                        "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "description": "How this repository publishes a change in the repository through Cloud\nPub/Sub. Keyed by the topic names.",
                                            "type": "object"
                                        },
                                        "size": {
                                            "description": "The disk usage of the repo, in bytes. Read-only field. Size is only\nreturned by GetRepo.",
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "url": {
                                            "description": "URL to clone the repository from Google Cloud Source Repositories.\nRead-only field.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.full_control"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A repository (or repo) is a Git repository storing versioned source content.",
                                "properties": {
                                    "mirrorConfig": {
                                        "description": "How this repository mirrors a repository managed by another service.\nRead-only field.",
                                        "properties": {
                                            "deployKeyId": {
                                                "description": "ID of the SSH deploy key at the other hosting service.\nRemoving this key from the other service would deauthorize\nGoogle Cloud Source Repositories from mirroring.",
                                                "type": "string"
                                            },
                                            "url": {
                                                "description": "URL of the main repository at the other hosting service.",
                                                "type": "string"
                                            },
                                            "webhookId": {
                                                "description": "ID of the webhook listening to updates to trigger mirroring.\nRemoving this webhook from the other hosting service will stop\nGoogle Cloud Source Repositories from receiving notifications,\nand thereby disabling mirroring.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "Resource name of the repository, of the form\n`projects/<project>/repos/<repo>`.  The repo name may contain slashes.\neg, `projects/myproject/repos/name/with/slash`",
                                        "type": "string"
                                    },
                                    "pubsubConfigs": {
                                        "additionalProperties": {
                                            "description": "Configuration to publish a Cloud Pub/Sub message.",
                                            "properties": {
                                                "messageFormat": {
                                                    "description": "The format of the Cloud Pub/Sub messages.",
                                                    "enum": [
                                                        "MESSAGE_FORMAT_UNSPECIFIED",
                                                        "PROTOBUF",
                                                        "JSON"
                                                    ],
                                                    "type": "string"
                                                },
                                                "serviceAccountEmail": {
                                                    "description": "Email address of the service account used for publishing Cloud Pub/Sub\nmessages. This service account needs to be in the same project as the\nPubsubConfig. When added, the caller needs to have\niam.serviceAccounts.actAs permission on this service account. If\nunspecified, it defaults to the compute engine default service account.",
                                                    "type": "string"
                                                },
                                                "topic": {
                                                    "description": "A topic of Cloud Pub/Sub. Values are of the form\n`projects/<project>/topics/<topic>`. The project needs to be the same\nproject as this config is in.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "description": "How this repository publishes a change in the repository through Cloud\nPub/Sub. Keyed by the topic names.",
                                        "type": "object"
                                    },
                                    "size": {
                                        "description": "The disk usage of the repo, in bytes. Read-only field. Size is only\nreturned by GetRepo.",
                                        "format": "int64",
                                        "type": "string"
                                    },
                                    "url": {
                                        "description": "URL to clone the repository from Google Cloud Source Repositories.\nRead-only field.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{resource}:getIamPolicy": {
            "get": {
                "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
                "operationId": "sourcerepo.projects.repos.getIamPolicy",
                "parameters": [
                    {
                        "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                        "in": "path",
                        "name": "resource",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n      role: roles/owner\n    - members:\n      - user:sean@example.com\n      role: roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam/docs).",
                                    "properties": {
                                        "auditConfigs": {
                                            "description": "Specifies cloud audit logging configuration for this policy.",
                                            "items": {
                                                "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:foo@gmail.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com from DATA_WRITE logging.",
                                                "properties": {
                                                    "auditLogConfigs": {
                                                        "description": "The configuration for logging of each type of permission.",
                                                        "items": {
                                                            "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\nfoo@gmail.com from DATA_READ logging.",
                                                            "properties": {
                                                                "exemptedMembers": {
                                                                    "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "logType": {
                                                                    "description": "The log type that this config enables.",
                                                                    "enum": [
                                                                        "LOG_TYPE_UNSPECIFIED",
                                                                        "ADMIN_READ",
                                                                        "DATA_WRITE",
                                                                        "DATA_READ"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "service": {
                                                        "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "bindings": {
                                            "description": "Associates a list of `members` to a `role`.\n`bindings` with no members will result in an error.",
                                            "items": {
                                                "description": "Associates `members` with a `role`.",
                                                "properties": {
                                                    "condition": {
                                                        "description": "Unimplemented. The condition that is associated with this binding.\nNOTE: an unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
                                                                "type": "string"
                                                            },
                                                            "expression": {
                                                                "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "members": {
                                                        "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "role": {
                                                        "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "etag": {
                                            "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
                                            "format": "byte",
                                            "type": "string"
                                        },
                                        "version": {
                                            "description": "Deprecated.",
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.full_control"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.read_only"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/source.read_write"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{resource}:setIamPolicy": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
                "operationId": "sourcerepo.projects.repos.setIamPolicy",
                "parameters": [
                    {
                        "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                        "in": "path",
                        "name": "resource",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
[...]
